:root {
    --background: rgb(0, 8, 18);
    --foreground: #081e28;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
}

.line {
    position: absolute;
    height: 500px;
    width: 1px;
    background-color: white;
    left: 50%;
}

.page-grid {
    height: 100%;
    width: 100%;
    background-color: var(--background);

    display: grid;
    grid-template: 2fr 8fr 2fr / 1fr;
    place-items: center;
}

.header {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 50px;
    gap: 20px;
}

.logoImg {
    width: 84px;
}

.currentTurn {
    box-shadow: rgba(27, 27, 27, 0.3) 0px 10px 10px;
    background-color: var(--foreground);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 150px;
    margin-right: 22px;
}

.currentTurn > h2 {
    margin-top: 2px;
}

.turnImg {
    width: 40px;
    padding-right: 10px;
}

.resetButton {
    height: 100%;
    aspect-ratio: 1 / 1;
    width: px;
    background-color: rgb(169, 190, 200);
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.resetImg {
    height: 24px;
    width: 24px;
}

.resetButton:hover {
    background-color: rgb(197, 221, 233);
}

.body {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardGrid {
    display: grid;
    grid-template: repeat(3, 150px) / repeat(3, 150px);
    grid-gap: 20px;
}

.boardCell {
    background-color: var(--foreground);
    border-radius: 30px;
    border: 0px;
    /* box-shadow: rgba(27, 27, 27, 0.3) 0px 10px 10px; */
}

.stats {
    display: flex;
    gap: 20px;
    align-self: start;
}

.statsCard {
    background-color: var(--foreground);
    border-radius: 15px;
    padding: 15px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.statsCard:nth-child(1) {
    background-color: rgb(29, 160, 156);
}

.statsCard:nth-child(2) {
    background-color: rgb(42, 65, 76);
}

.statsCard:nth-child(3) {
    background-color: rgb(173, 111, 0);
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 20px 0px;
    }

    .currentTurn {
        margin-right: 0px;
    }

    .resetButton {
        margin-right: 22px;
    }
}

@media only screen and (max-width: 700px) {
    .statsCard {
        width: 150px;
    }
}
